In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/seattle/calendar.csv
/kaggle/input/seattle/listings.csv
/kaggle/input/seattle/reviews.csv

In [2]:
seattle_calendar = pd.read_csv("/kaggle/input/seattle/calendar.csv")
seattle_listings = pd.read_csv("/kaggle/input/seattle/listings.csv")
seattle_reviews = pd.read_csv("/kaggle/input/seattle/reviews.csv")

Just taking a quick look at what the dataframes look like

In [3]:
seattle_calendar.head()

   listing_id        date available   price
0      241032  2016-01-04         t  $85.00
1      241032  2016-01-05         t  $85.00
2      241032  2016-01-06         f     NaN
3      241032  2016-01-07         f     NaN
4      241032  2016-01-08         f     NaN

In [4]:
seattle_calendar.describe()

         listing_id
count  1.393570e+06
mean   5.550111e+06
std    2.962274e+06
min    3.335000e+03
25%    3.258213e+06
50%    6.118244e+06
75%    8.035212e+06
max    1.034016e+07

In [5]:
seattle_listings.head()

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,241032,https://www.airbnb.com/rooms/241032,20160104002432,2016-01-04,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,none,NaN,...,10.0,f,NaN,WASHINGTON,f,moderate,f,f,2,4.07
1,953595,https://www.airbnb.com/rooms/953595,20160104002432,2016-01-04,Bright & Airy Queen Anne Apartment,Chemically sensitive? We've removed the irrita...,"Beautiful, hypoallergenic apartment in an extr...",Chemically sensitive? We've removed the irrita...,none,"Queen Anne is a wonderful, truly functional vi...",...,10.0,f,NaN,WASHINGTON,f,strict,t,t,6,1.48
2,3308979,https://www.airbnb.com/rooms/3308979,20160104002432,2016-01-04,New Modern House-Amazing water view,New modern house built in 2013. Spectacular s...,"Our house is modern, light and fresh with a wa...",New modern house built in 2013. Spectacular s...,none,Upper Queen Anne is a charming neighborhood fu...,...,10.0,f,NaN,WASHINGTON,f,strict,f,f,2,1.15
3,7421966,https://www.airbnb.com/rooms/7421966,20160104002432,2016-01-04,Queen Anne Chateau,A charming apartment that sits atop Queen Anne...,NaN,A charming apartment that sits atop Queen Anne...,none,NaN,...,NaN,f,NaN,WASHINGTON,f,flexible,f,f,1,NaN
4,278830,https://www.airbnb.com/rooms/278830,20160104002432,2016-01-04,Charming craftsman 3 bdm house,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,none,We are in the beautiful neighborhood of Queen ...,...,9.0,f,NaN,WASHINGTON,f,strict,f,f,1,0.89

In [6]:
seattle_listings.describe()

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,...,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,calculated_host_listings_count,reviews_per_month
count,3.818000e+03,3.818000e+03,3.818000e+03,3816.000000,3816.000000,3818.000000,3818.000000,3818.000000,3802.000000,3812.000000,...,3171.000000,3160.000000,3165.000000,3160.000000,3167.000000,3163.000000,3162.000000,0.0,3818.000000,3191.000000
mean,5.550111e+06,2.016010e+13,1.578556e+07,7.157757,7.157757,47.628961,-122.333103,3.349398,1.259469,1.307712,...,94.539262,9.636392,9.556398,9.786709,9.809599,9.608916,9.452245,NaN,2.946307,2.078919
std,2.962660e+06,0.000000e+00,1.458382e+07,28.628149,28.628149,0.043052,0.031745,1.977599,0.590369,0.883395,...,6.606083,0.698031,0.797274,0.595499,0.568211,0.629053,0.750259,NaN,5.893029,1.822348
min,3.335000e+03,2.016010e+13,4.193000e+03,1.000000,1.000000,47.505088,-122.417219,1.000000,0.000000,0.000000,...,20.000000,2.000000,3.000000,2.000000,2.000000,4.000000,2.000000,NaN,1.000000,0.020000
25%,3.258256e+06,2.016010e+13,3.275204e+06,1.000000,1.000000,47.609418,-122.354320,2.000000,1.000000,1.000000,...,93.000000,9.000000,9.000000,10.000000,10.000000,9.000000,9.000000,NaN,1.000000,0.695000
50%,6.118244e+06,2.016010e+13,1.055814e+07,1.000000,1.000000,47.623601,-122.328874,3.000000,1.000000,1.000000,...,96.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,1.000000,1.540000
75%,8.035127e+06,2.016010e+13,2.590309e+07,3.000000,3.000000,47.662694,-122.310800,4.000000,1.000000,2.000000,...,99.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,2.000000,3.000000
max,1.034016e+07,2.016010e+13,5.320861e+07,502.000000,502.000000,47.733358,-122.240607,16.000000,8.000000,7.000000,...,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,37.000000,12.150000

In [7]:
seattle_reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,7202016,38917982,2015-07-19,28943674,Bianca,Cute and cozy place. Perfect location to every...
1,7202016,39087409,2015-07-20,32440555,Frank,Kelly has a great room in a very central locat...
2,7202016,39820030,2015-07-26,37722850,Ian,"Very spacious apartment, and in a great neighb..."
3,7202016,40813543,2015-08-02,33671805,George,Close to Seattle Center and all it has to offe...
4,7202016,41986501,2015-08-10,34959538,Ming,Kelly was a great host and very accommodating ...

In [8]:
seattle_reviews.describe()

         listing_id            id   reviewer_id
count  8.484900e+04  8.484900e+04  8.484900e+04
mean   3.005067e+06  3.058765e+07  1.701301e+07
std    2.472877e+06  1.636613e+07  1.353704e+07
min    4.291000e+03  3.721000e+03  1.500000e+01
25%    7.946330e+05  1.725127e+07  5.053141e+06
50%    2.488228e+06  3.228809e+07  1.413476e+07
75%    4.694479e+06  4.457648e+07  2.762402e+07
max    1.024814e+07  5.873651e+07  5.281274e+07

In [9]:
seattle_calendar.columns.values

array(['listing_id', 'date', 'available', 'price'], dtype=object)

In [10]:
seattle_listings.columns.values

array(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name',
       'summary', 'space', 'description', 'experiences_offered',
       'neighborhood_overview', 'notes', 'transit', 'thumbnail_url',
       'medium_url', 'picture_url', 'xl_picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location',
       'host_about', 'host_response_time', 'host_response_rate',
       'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url',
       'host_picture_url', 'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'street',
       'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode',
       'market', 'smart_location', 'country_code', 'country', 'latitude',
       'longitude', 'is_location_exact', 'property_type', 'room_type',
       'accommodates', 'bathrooms', 'bedrooms', 'beds', 'bed_type',
       'amenities', 'square_feet', 'price', 'weekly_price',
       'monthly_price', 'security_deposit', 'cleaning_fee',
       'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value',
       'requires_license', 'license', 'jurisdiction_names',
       'instant_bookable', 'cancellation_policy',
       'require_guest_profile_picture',
       'require_guest_phone_verification',
       'calculated_host_listings_count', 'reviews_per_month'],
      dtype=object)

In [11]:
seattle_reviews.columns.values

array(['listing_id', 'id', 'date', 'reviewer_id', 'reviewer_name',
       'comments'], dtype=object)

In [12]:
#figuring out what each of the features in seattle_listings means
for feature in seattle_listings.columns.values:
    print(seattle_listings[feature].head())
    print("")

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

0     241032
1     953595
2    3308979
3    7421966
4     278830
Name: id, dtype: int64

0     https://www.airbnb.com/rooms/241032
1     https://www.airbnb.com/rooms/953595
2    https://www.airbnb.com/rooms/3308979
3    https://www.airbnb.com/rooms/7421966
4     https://www.airbnb.com/rooms/278830
Name: listing_url, dtype: object

0    20160104002432
1    20160104002432
2    20160104002432
3    20160104002432
4    20160104002432
Name: scrape_id, dtype: int64

0    2016-01-04
1    2016-01-04
2    2016-01-04
3    2016-01-04
4    2016-01-04
Name: last_scraped, dtype: object

0           Stylish Queen Anne Apartment
1     Bright & Airy Queen Anne Apartment
2    New Modern House-Amazing water view
3                     Queen Anne Chateau
4         Charming craftsman 3 bdm house
Name: name, dtype: object

0                                                  NaN
1    Chemically sensitive? We've removed the irrita...
2    New modern house built in 2013.  Spectacular s...
3    A charming apartment that sits atop Queen Anne...
4    Cozy family craftman house in beautiful neighb...
Name: summary, dtype: object

0    Make your self at home in this charming one-be...
1    Beautiful, hypoallergenic apartment in an extr...
2    Our house is modern, light and fresh with a wa...
3                                                  NaN
4    Cozy family craftman house in beautiful neighb...
Name: space, dtype: object

0    Make your self at home in this charming one-be...
1    Chemically sensitive? We've removed the irrita...
2    New modern house built in 2013.  Spectacular s...
3    A charming apartment that sits atop Queen Anne...
4    Cozy family craftman house in beautiful neighb...
Name: description, dtype: object

0    none
1    none
2    none
3    none
4    none
Name: experiences_offered, dtype: object

0                                                  NaN
1    Queen Anne is a wonderful, truly functional vi...
2    Upper Queen Anne is a charming neighborhood fu...
3                                                  NaN
4    We are in the beautiful neighborhood of Queen ...
Name: neighborhood_overview, dtype: object

0                                                  NaN
1    What's up with the free pillows?  Our home was...
2    Our house is located just 5 short blocks to To...
3                                                  NaN
4                                            Belltown
Name: notes, dtype: object

0                                                  NaN
1    Convenient bus stops are just down the block, ...
2    A bus stop is just 2 blocks away.   Easy bus a...
3                                                  NaN
4    The nearest public transit bus (D Line) is 2 b...
Name: transit, dtype: object

0                                                  NaN
1    https://a0.muscache.com/ac/pictures/14409893/f...
2                                                  NaN
3                                                  NaN
4                                                  NaN
Name: thumbnail_url, dtype: object

0                                                  NaN
1    https://a0.muscache.com/im/pictures/14409893/f...
2                                                  NaN
3                                                  NaN
4                                                  NaN
Name: medium_url, dtype: object

0    https://a1.muscache.com/ac/pictures/67560560/c...
1    https://a0.muscache.com/ac/pictures/14409893/f...
2    https://a2.muscache.com/ac/pictures/b4324e0f-a...
3    https://a0.muscache.com/ac/pictures/94146944/6...
4    https://a1.muscache.com/ac/pictures/6120468/b0...
Name: picture_url, dtype: object

0                                                  NaN
1    https://a0.muscache.com/ac/pictures/14409893/f...
2                                                  NaN
3                                                  NaN
4                                                  NaN
Name: xl_picture_url, dtype: object

0      956883
1     5177328
2    16708587
3     9851441
4     1452570
Name: host_id, dtype: int64

0      https://www.airbnb.com/users/show/956883
1     https://www.airbnb.com/users/show/5177328
2    https://www.airbnb.com/users/show/16708587
3     https://www.airbnb.com/users/show/9851441
4     https://www.airbnb.com/users/show/1452570
Name: host_url, dtype: object

0     Maija
1    Andrea
2      Jill
3     Emily
4     Emily
Name: host_name, dtype: object

0    2011-08-11
1    2013-02-21
2    2014-06-12
3    2013-11-06
4    2011-11-29
Name: host_since, dtype: object

0    Seattle, Washington, United States
1    Seattle, Washington, United States
2    Seattle, Washington, United States
3    Seattle, Washington, United States
4    Seattle, Washington, United States
Name: host_location, dtype: object

0    I am an artist, interior designer, and run a s...
1    Living east coast/left coast/overseas.  Time i...
2    i love living in Seattle.  i grew up in the mi...
3                                                  NaN
4    Hi, I live in Seattle, Washington but I'm orig...
Name: host_about, dtype: object

0    within a few hours
1        within an hour
2    within a few hours
3                   NaN
4        within an hour
Name: host_response_time, dtype: object

0     96%
1     98%
2     67%
3     NaN
4    100%
Name: host_response_rate, dtype: object

0    100%
1    100%
2    100%
3     NaN
4     NaN
Name: host_acceptance_rate, dtype: object

0    f
1    t
2    f
3    f
4    f
Name: host_is_superhost, dtype: object

0    https://a0.muscache.com/ac/users/956883/profil...
1    https://a0.muscache.com/ac/users/5177328/profi...
2    https://a1.muscache.com/ac/users/16708587/prof...
3    https://a2.muscache.com/ac/users/9851441/profi...
4    https://a0.muscache.com/ac/users/1452570/profi...
Name: host_thumbnail_url, dtype: object

0    https://a0.muscache.com/ac/users/956883/profil...
1    https://a0.muscache.com/ac/users/5177328/profi...
2    https://a1.muscache.com/ac/users/16708587/prof...
3    https://a2.muscache.com/ac/users/9851441/profi...
4    https://a0.muscache.com/ac/users/1452570/profi...
Name: host_picture_url, dtype: object

0    Queen Anne
1    Queen Anne
2    Queen Anne
3    Queen Anne
4    Queen Anne
Name: host_neighbourhood, dtype: object

0    3.0
1    6.0
2    2.0
3    1.0
4    2.0
Name: host_listings_count, dtype: float64

0    3.0
1    6.0
2    2.0
3    1.0
4    2.0
Name: host_total_listings_count, dtype: float64

0                 ['email', 'phone', 'reviews', 'kba']
1    ['email', 'phone', 'facebook', 'linkedin', 're...
2     ['email', 'phone', 'google', 'reviews', 'jumio']
3    ['email', 'phone', 'facebook', 'reviews', 'jum...
4     ['email', 'phone', 'facebook', 'reviews', 'kba']
Name: host_verifications, dtype: object

0    t
1    t
2    t
3    t
4    t
Name: host_has_profile_pic, dtype: object

0    t
1    t
2    t
3    t
4    t
Name: host_identity_verified, dtype: object

0        Gilman Dr W, Seattle, WA 98119, United States
1    7th Avenue West, Seattle, WA 98119, United States
2    West Lee Street, Seattle, WA 98119, United States
3    8th Avenue West, Seattle, WA 98119, United States
4         14th Ave W, Seattle, WA 98119, United States
Name: street, dtype: object

0    Queen Anne
1    Queen Anne
2    Queen Anne
3    Queen Anne
4    Queen Anne
Name: neighbourhood, dtype: object

0    West Queen Anne
1    West Queen Anne
2    West Queen Anne
3    West Queen Anne
4    West Queen Anne
Name: neighbourhood_cleansed, dtype: object

0    Queen Anne
1    Queen Anne
2    Queen Anne
3    Queen Anne
4    Queen Anne
Name: neighbourhood_group_cleansed, dtype: object

0    Seattle
1    Seattle
2    Seattle
3    Seattle
4    Seattle
Name: city, dtype: object

0    WA
1    WA
2    WA
3    WA
4    WA
Name: state, dtype: object

0    98119
1    98119
2    98119
3    98119
4    98119
Name: zipcode, dtype: object

0    Seattle
1    Seattle
2    Seattle
3    Seattle
4    Seattle
Name: market, dtype: object

0    Seattle, WA
1    Seattle, WA
2    Seattle, WA
3    Seattle, WA
4    Seattle, WA
Name: smart_location, dtype: object

0    US
1    US
2    US
3    US
4    US
Name: country_code, dtype: object

0    United States
1    United States
2    United States
3    United States
4    United States
Name: country, dtype: object

0    47.636289
1    47.639123
2    47.629724
3    47.638473
4    47.632918
Name: latitude, dtype: float64

0   -122.371025
1   -122.365666
2   -122.369483
3   -122.369279
4   -122.372471
Name: longitude, dtype: float64

0    t
1    t
2    t
3    t
4    t
Name: is_location_exact, dtype: object

0    Apartment
1    Apartment
2        House
3    Apartment
4        House
Name: property_type, dtype: object

0    Entire home/apt
1    Entire home/apt
2    Entire home/apt
3    Entire home/apt
4    Entire home/apt
Name: room_type, dtype: object

0     4
1     4
2    11
3     3
4     6
Name: accommodates, dtype: int64

0    1.0
1    1.0
2    4.5
3    1.0
4    2.0
Name: bathrooms, dtype: float64

0    1.0
1    1.0
2    5.0
3    0.0
4    3.0
Name: bedrooms, dtype: float64

0    1.0
1    1.0
2    7.0
3    2.0
4    3.0
Name: beds, dtype: float64

0    Real Bed
1    Real Bed
2    Real Bed
3    Real Bed
4    Real Bed
Name: bed_type, dtype: object

0    {TV,"Cable TV",Internet,"Wireless Internet","A...
1    {TV,Internet,"Wireless Internet",Kitchen,"Free...
2    {TV,"Cable TV",Internet,"Wireless Internet","A...
3    {Internet,"Wireless Internet",Kitchen,"Indoor ...
4    {TV,"Cable TV",Internet,"Wireless Internet",Ki...
Name: amenities, dtype: object

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: square_feet, dtype: float64

0     $85.00
1    $150.00
2    $975.00
3    $100.00
4    $450.00
Name: price, dtype: object

0          NaN
1    $1,000.00
2          NaN
3      $650.00
4          NaN
Name: weekly_price, dtype: object

0          NaN
1    $3,000.00
2          NaN
3    $2,300.00
4          NaN
Name: monthly_price, dtype: object

0          NaN
1      $100.00
2    $1,000.00
3          NaN
4      $700.00
Name: security_deposit, dtype: object

0        NaN
1     $40.00
2    $300.00
3        NaN
4    $125.00
Name: cleaning_fee, dtype: object

0     2
1     1
2    10
3     1
4     6
Name: guests_included, dtype: int64

0     $5.00
1     $0.00
2    $25.00
3     $0.00
4    $15.00
Name: extra_people, dtype: object

0    1
1    2
2    4
3    1
4    1
Name: minimum_nights, dtype: int64

0     365
1      90
2      30
3    1125
4    1125
Name: maximum_nights, dtype: int64

0     4 weeks ago
1           today
2     5 weeks ago
3    6 months ago
4     7 weeks ago
Name: calendar_updated, dtype: object

0    t
1    t
2    t
3    t
4    t
Name: has_availability, dtype: object

0    14
1    13
2     1
3     0
4    30
Name: availability_30, dtype: int64

0    41
1    13
2     6
3     0
4    60
Name: availability_60, dtype: int64

0    71
1    16
2    17
3     0
4    90
Name: availability_90, dtype: int64

0    346
1    291
2    220
3    143
4    365
Name: availability_365, dtype: int64

0    2016-01-04
1    2016-01-04
2    2016-01-04
3    2016-01-04
4    2016-01-04
Name: calendar_last_scraped, dtype: object

0    207
1     43
2     20
3      0
4     38
Name: number_of_reviews, dtype: int64

0    2011-11-01
1    2013-08-19
2    2014-07-30
3           NaN
4    2012-07-10
Name: first_review, dtype: object

0    2016-01-02
1    2015-12-29
2    2015-09-03
3           NaN
4    2015-10-24
Name: last_review, dtype: object

0    95.0
1    96.0
2    97.0
3     NaN
4    92.0
Name: review_scores_rating, dtype: float64

0    10.0
1    10.0
2    10.0
3     NaN
4     9.0
Name: review_scores_accuracy, dtype: float64

0    10.0
1    10.0
2    10.0
3     NaN
4     9.0
Name: review_scores_cleanliness, dtype: float64

0    10.0
1    10.0
2    10.0
3     NaN
4    10.0
Name: review_scores_checkin, dtype: float64

0    10.0
1    10.0
2    10.0
3     NaN
4    10.0
Name: review_scores_communication, dtype: float64

0     9.0
1    10.0
2    10.0
3     NaN
4     9.0
Name: review_scores_location, dtype: float64

0    10.0
1    10.0
2    10.0
3     NaN
4     9.0
Name: review_scores_value, dtype: float64

0    f
1    f
2    f
3    f
4    f
Name: requires_license, dtype: object

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: license, dtype: float64

0    WASHINGTON
1    WASHINGTON
2    WASHINGTON
3    WASHINGTON
4    WASHINGTON
Name: jurisdiction_names, dtype: object

0    f
1    f
2    f
3    f
4    f
Name: instant_bookable, dtype: object

0    moderate
1      strict
2      strict
3    flexible
4      strict
Name: cancellation_policy, dtype: object

0    f
1    t
2    f
3    f
4    f
Name: require_guest_profile_picture, dtype: object

0    f
1    t
2    f
3    f
4    f
Name: require_guest_phone_verification, dtype: object

0    2
1    6
2    2
3    1
4    1
Name: calculated_host_listings_count, dtype: int64

0    4.07
1    1.48
2    1.15
3     NaN
4    0.89
Name: reviews_per_month, dtype: float64

It might be possible to make some simple categorical features out of the text columns, such as whether certain words appear in the description or review for example, so I will keep those for now. Selected features that could be relevant for predicting the label (price)

In [13]:
selected_listing_columns = ["name", "summary", "space", "description", 
                            "neighborhood_overview", "notes", "transit", "host_since", 
                           "host_about", "host_response_time", "host_response_rate", 
                           "host_is_superhost", "host_neighbourhood", "host_listings_count", 
                           "host_total_listings_count", "host_has_profile_pic", 
                           "host_identity_verified", "neighbourhood", "neighbourhood_cleansed", 
                           "neighbourhood_group_cleansed", "property_type", "room_type",
                           "accommodates", "bathrooms", "bedrooms", "beds", "bed_type",
                           "amenities", "square_feet", "review_scores_rating", 
                           "review_scores_accuracy", "review_scores_cleanliness", 
                           "review_scores_checkin", "review_scores_communication", 
                           "review_scores_location", "review_scores_value", "cancellation_policy", 
                           "calculated_host_listings_count", "price"]
new_seattle_listings = seattle_listings[selected_listing_columns].copy()
print("The new seattle listings dataframe will use", 
      new_seattle_listings.shape[1] - 1, "features, and the output label will be", 
     new_seattle_listings.columns[-1])

The new seattle listings dataframe will use 38 features, and the output label will be price

In [14]:
print(new_seattle_listings.shape)
print(new_seattle_listings['notes'][9])
print("")
print(new_seattle_listings['notes'][1])
print("")
print(new_seattle_listings['price'][1])
print("")
print(new_seattle_listings['price'][9])
print(new_seattle_listings['notes'][1] == new_seattle_listings['notes'][9])
print(new_seattle_listings['price'][1] == new_seattle_listings['price'][9])

(3818, 39)
What's up with the free pillows?  Our home was renovated and restored with health & safety in mind, especially the elimination/reduction of indoor allergens, toxins & other pollutants.  (For this reason, we have no carpets, just hardwood & slate floors, with radiant heat.)  Pillows tend to house a LOT of allergens over time, even when just used by a single owner.  The statistics make many people feel pretty queasy but, essentially, pillows become great breeding grounds for bacteria and dust mites, not to mention drool, hair oils and perspiration. Since most people sweat more than a pint a night, the pillow can also easily trap mildew and mold. We use dust mite protectors for mattresses and duvets, but haven't found any that work well for pillows that maintain comfort/elasticity without the use of outgassing materials.  So, I let the guests take their pillows but ask that they leave the pillowcases. And if you leave the pillows behind, they'll be donated to a local women's shelter that

What's up with the free pillows?  Our home was renovated and restored with health & safety in mind, especially the elimination/reduction of indoor allergens, toxins & other pollutants.  (For this reason, we have no carpets, just hardwood & slate floors, with radiant heat.)  Pillows tend to house a LOT of allergens over time, even when just used by a single owner.  The statistics make many people feel pretty queasy but, essentially, pillows become great breeding grounds for bacteria and dust mites, not to mention drool, hair oils and perspiration. Since most people sweat more than a pint a night, the pillow can also easily trap mildew and mold. We use dust mite protectors for mattresses and duvets, but haven't found any that work well for pillows that maintain comfort/elasticity without the use of outgassing materials.  So, I let the guests take their pillows but ask that they leave the pillowcases. And if you leave the pillows behind, they'll be donated to a local women's shelter that

$150.00

$150.00
True
True

Look at the entries above! It appears that there are duplicate entries in the dataframe. We want to remove these duplicates so that every entry is unique.

In [15]:
#Remove duplicate entries. Here we are just removing exact duplicates, which could be a
#limitation if there are near duplicates but I am just handling this for now
print("Shape of original dataframe (with features selected):",new_seattle_listings.shape)
exact_duplicates_dropped = new_seattle_listings.drop_duplicates()
print("Shape after dropping exact duplicates:",exact_duplicates_dropped.shape)
subset_dropped_listings = new_seattle_listings.drop_duplicates(subset=['notes', 'price'])
print("Shape after dropping duplicates with exact match of notes and price:",
      subset_dropped_listings.shape)
subset_dropped_listings_2 = new_seattle_listings.drop_duplicates(subset=['notes'])
print("Shape after dropping duplicates with exact match of notes:",
      subset_dropped_listings_2.shape)
subset_dropped_listings_3 = new_seattle_listings.drop_duplicates(
    subset=['property_type', 'bathrooms', 'bedrooms', 'square_feet', 'neighbourhood'])
print("Shape after dropping duplicates with exact match of url:", 
     subset_dropped_listings_3.shape)

Shape of original dataframe (with features selected): (3818, 39)
Shape after dropping exact duplicates: (3818, 39)
Shape after dropping duplicates with exact match of notes and price: (2337, 39)
Shape after dropping duplicates with exact match of notes: (2000, 39)
Shape after dropping duplicates with exact match of url: (1071, 39)

As we can see from some experimentation dropping duplicates, there are no exact duplicates! However, if we limit to dropping if the exact price and notes are the same, we get a significant reduction in entries. We reduce even more entries if we just look for if the notes are the same. This suggestions, for example, that someone may have put the same listing up but with different prices, perhaps due to increased demand or they weren't able to get anyone to book so they decreased the price. Also, it's possible that some entries are duplicates but won't be caught using notes and price as the subset, but will be caught using a different subset. We cannot try all the subsets of the features that we have, so we will need an effective method to identify duplicates entries.

Now it's time to represent all the features numerically. Steps:
1) Impute any missing values for features that are already numerical.. Figure out feature 
by feature what the most logical way to do this is. It's possible that some entire 
examples will need to be removed.
2) Address any outliers.
3) Represent categorical features (such as description or needs_verification) as a 
vector. This needs to be addressed on a feature by feature basis as well, for example use
one-hot encoding for something vs. a different method.

In [16]:
#Step 1: Missing value imputation
#Figure out what columns actually have missing values

missing_values = [feature for feature in new_seattle_listings if 
                  new_seattle_listings[feature].isna().any()]
#Find out how many missing values each column has
missing_value_counts = []
for feature in missing_values:
    missing_value_counts.append(new_seattle_listings[feature].isna().sum())

#Convert to a map
missing_value_freq_map = {missing_values[i]: missing_value_counts[i] 
                          for i in range(len(missing_values))}
n_rows = new_seattle_listings.shape[0]
print(n_rows)
missing_value_percent_map = {feature: round(missing_value_freq_map[feature] / n_rows, 3)
                        for feature in missing_value_freq_map}
print("Occurences of missing values")
print("------------------------------------")
print(missing_value_freq_map)
print("------------------------------------")
print(missing_value_percent_map)

3818
Occurences of missing values
------------------------------------
{'summary': 177, 'space': 569, 'neighborhood_overview': 1032, 'notes': 1606, 'transit': 934, 'host_since': 2, 'host_about': 859, 'host_response_time': 523, 'host_response_rate': 523, 'host_is_superhost': 2, 'host_neighbourhood': 300, 'host_listings_count': 2, 'host_total_listings_count': 2, 'host_has_profile_pic': 2, 'host_identity_verified': 2, 'neighbourhood': 416, 'property_type': 1, 'bathrooms': 16, 'bedrooms': 6, 'beds': 1, 'square_feet': 3721, 'review_scores_rating': 647, 'review_scores_accuracy': 658, 'review_scores_cleanliness': 653, 'review_scores_checkin': 658, 'review_scores_communication': 651, 'review_scores_location': 655, 'review_scores_value': 656}
------------------------------------
{'summary': 0.046, 'space': 0.149, 'neighborhood_overview': 0.27, 'notes': 0.421, 'transit': 0.245, 'host_since': 0.001, 'host_about': 0.225, 'host_response_time': 0.137, 'host_response_rate': 0.137, 'host_is_superhost': 0.001, 'host_neighbourhood': 0.079, 'host_listings_count': 0.001, 'host_total_listings_count': 0.001, 'host_has_profile_pic': 0.001, 'host_identity_verified': 0.001, 'neighbourhood': 0.109, 'property_type': 0.0, 'bathrooms': 0.004, 'bedrooms': 0.002, 'beds': 0.0, 'square_feet': 0.975, 'review_scores_rating': 0.169, 'review_scores_accuracy': 0.172, 'review_scores_cleanliness': 0.171, 'review_scores_checkin': 0.172, 'review_scores_communication': 0.171, 'review_scores_location': 0.172, 'review_scores_value': 0.172}

In [17]:
#For variables of interest, take a look at what all the values look like just to see what
#type of stuff is missing. For example, looking at all summaries. Just for my purposes I don't
#need to keep this here permanently
pd.set_option('display.max_rows', None)
print(new_seattle_listings['notes'][9])

What's up with the free pillows?  Our home was renovated and restored with health & safety in mind, especially the elimination/reduction of indoor allergens, toxins & other pollutants.  (For this reason, we have no carpets, just hardwood & slate floors, with radiant heat.)  Pillows tend to house a LOT of allergens over time, even when just used by a single owner.  The statistics make many people feel pretty queasy but, essentially, pillows become great breeding grounds for bacteria and dust mites, not to mention drool, hair oils and perspiration. Since most people sweat more than a pint a night, the pillow can also easily trap mildew and mold. We use dust mite protectors for mattresses and duvets, but haven't found any that work well for pillows that maintain comfort/elasticity without the use of outgassing materials.  So, I let the guests take their pillows but ask that they leave the pillowcases. And if you leave the pillows behind, they'll be donated to a local women's shelter that